/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

/* Shared style start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff42a5;
  --secondary-color: #4ec5f7;
}
body {
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.primary_btn {
  padding: 0.9rem 1.8rem;
  border-radius: 2.25rem;
  background-color: var(--primary-color);
  border: none;
  font-size: 0.95rem;
  color: white;
}
.gradient {
  background: linear-gradient(to bottom, #f948b2, #8758f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Shared style end */

/* nav bar style start */
.navbar {
  display: flex;
  justify-content: space-between;
  min-height: 5.5rem;
}
.nav_left_logo {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.nav_left_logo img,
.footer_brand img {
  width: 65px;
}
.g_ltr_clr {
  color: var(--primary-color);
}
.nav_right_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.nav_right_menu a {
  /* margin-left: 1.5rem; */
  text-decoration: none;
  color: #3c354f;
  font-size: 0.85rem;
}
.nav_right_icon {
  padding: 0.6rem 1.13rem;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  display: flex;
  gap: 0.8rem;
}
/* nav bar style end */

/* banner area style start */
.banner_area {
  background-image: url("../images/Group14.png");
  background-repeat: no-repeat;
}
.banner_info {
  display: flex;
  align-items: center;
}
.banner_left_info,
.banner_right_img {
  width: 50%;
}
.banner_left_info h2 {
  color: #0b0223;
  font-size: 2.25rem;
  text-transform: uppercase;
}
.banner_left_info h1 {
  font-size: 4.45rem;
  font-weight: 700;
  text-transform: uppercase;
}
.banner_left_info p {
  color: #534c64;
  font-size: 0.95rem;
  margin-top: 0.8rem;
}
.banner_left_info button {
  margin-top: 1.92rem;
  margin-right: 1.13rem;
}
.banner_left_info button:nth-last-child(1) {
  background: #4ec5f7;
}
/* banner area style end */

/* Online games area style start */
.online_games_area {
  text-align: center;
}
.online_games_area h2 {
  margin: 5.63rem auto 1rem;
  font-size: 2.25rem;
}
.videos_area {
  margin-top: 2.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1.13rem;
  flex-wrap: wrap;
}
.video p {
  text-align: left;
  margin-top: 1.13rem;
  font-size: 0.85rem;
}
.video {
  width: calc(25% - 1rem);
  height: 20.5rem;
  position: relative;
}

.video:hover img {
  border: 3px solid var(--primary-color);
  border-radius: 15px;
}
.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  border-radius: 14px;
}
.video:hover::before {
  display: block;
}
.play_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url("../images/play-button.png");
  background-size: cover;
  display: none;
}
.video:hover .play_button {
  display: block;
}
.watch_now {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  color: #ff42a5;
  display: none;
}

.video:hover .watch_now {
  display: block;
}
/* Online games area style end */

/* Play Instantly style start */
.play_instant_area {
  margin-top: 6rem;
  display: flex;
}
.play_instant_left_info,
.play_instant_right_img {
  width: 50%;
}
.play_instant_left_info {
  padding-top: 16rem;
  padding-right: 12rem;
}
.play_instant_left_info h2 {
  font-size: 2.25rem;
  text-align: right;
}
.play_instant_left_info p {
  text-align: right;
  font-size: 0.85rem;
  margin-top: 1.15rem;
  margin-left: 10rem;
}
.play_instant_right_img {
  width: 50%;
  position: relative;
}
.play_instant_right_img :last-child {
  width: 40%;
  position: absolute;
  top: 65%;
  right: 75%;
}
/* Play Instantly style end */

/* Games icon style start */
.games_icon_area {
  margin-top: 5.6rem;
  background-color: #fff9fc;
}
.games_icon {
  padding: 5rem 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.73rem;
}
.icon img {
  width: 2.81rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: #fff;
  border-radius: 2rem;
  padding: 0.5rem;
}
.icon p {
  font-size: 0.95rem;
  color: #0b0223;
  font-weight: 700;
}
.icon:hover {
  border: 1px solid var(--primary-color);
}
.icon:hover p {
  color: var(--primary-color);
}
/* Games icon style end */

/* Footer style start */
.footer_area {
  background-color: #0b0223;
  display: flex;
  flex-direction: column;
  padding: 5.7rem 0;
}
.footer_brand {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.4rem;
}

.footer_brand h3 {
  color: white;
  font-size: 2.11rem;
}
.footer_menu,
.footer_terms_n_policy,
.footer_copyright p {
  display: flex;
  justify-content: center;
  gap: 2.81rem;
}
.footer_menu a,
.footer_terms_n_policy a {
  text-decoration: none;
  color: white;
  font-size: 0.85rem;
}
.footer_social_icon {
  display: flex;
  justify-content: center;
  margin: 3.4rem auto;
}
.footer_social_icon > a > img {
  width: 40%;
}
.footer_terms_n_policy a,
.footer_copyright p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 1.5rem;
}
/* Footer style end */

/* || Media Query for Tablet Devices */
@media screen and (max-width: 768px) {
  .banner_info {
    padding: 3rem 0;
  }
  .banner_left_info button {
    margin-right: 0;
  }
}

/* || Media Query for Mobile Devices */
@media screen and (max-width: 426px) {
  /* navbar media query start */
  .container {
    width: 90%;
  }
  header {
    margin-left: 2.5rem;
  }
  .navbar {
    gap: 3.5rem;
    margin: 4rem auto 1rem;
  }
  .navbar,
  .nav_right_menu {
    flex-direction: column;
  }
  .nav_left_logo {
    justify-content: center;
  }
  .banner_area {
    background: none;
  }
  .banner_info {
    flex-direction: column-reverse;
    width: 100%;
  }
  .banner_left_info,
  .banner_right_img {
    width: 100%;
  }
  .banner_left_info {
    background-image: url("../images/Group14.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
  }
  /* navbar media query end   */

  /* Online games media query start */
  .online_games_area {
    width: 100%;
  }
  .online_games_area h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  .online_games_area p {
    font-size: 0.8rem;
  }
  .video {
    width: 80%;
    height: auto;
    margin-left: 2.8rem;
  }
  /* Online games media query end */

  /* Play Instant media query start */
  .play_instant_area {
    margin-top: 6rem;
    flex-direction: column;
  }
  .play_instant_left_info,
  .play_instant_right_img {
    width: 100%;
  }
  .play_instant_left_info {
    padding: 0;
  }
  .play_instant_left_info h2 {
    font-size: 1.25rem;
    text-align: center;
  }
  .play_instant_left_info p {
    text-align: center;
    font-size: 0.65rem;
    margin: 2rem 0;
  }
  .play_instant_right_img {
    width: 80%;
    position: relative;
    left: 4rem;
  }
  .play_instant_right_img :last-child {
    width: 40%;
    position: absolute;
    top: 65%;
    right: 75%;
  }
  /* Play Instant media query end */

  /* Games icon media query start */
  .games_icon_area {
    margin-top: 2rem;
  }
  .games_icon {
    padding: 3rem 0;
    gap: 0;
  }
  .icon img {
    width: 1.2rem;
  }

  .icon p {
    font-size: 0.55rem;
  }

  .footer_menu,
  .footer_terms_n_policy,
  .footer_copyright p {
    flex-wrap: wrap;
    gap: 2.81rem;
  }
  .footer_menu a,
  .footer_terms_n_policy a {
  }

  .footer_social_icon {
    margin: 3.4rem auto;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer_social_icon > a > img {
    width: 30%;
  }
  .footer_terms_n_policy {
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
    gap: 0.5rem;
  }

  .footer_copyright p {
    margin-top: 2.5rem;
  }
  /* Footer media query end */
}
